<li class="project" id="project-<%= project.id %>">
  <%= link_to project do %>
    <h1 class="project-title"><%= project.title %></h1>
  <% end %>
  <%= link_to "x", project, method: :delete, class: "close-project",
                            data: { confirm: "You sure?" } %>
</li>
