<li class="project" id="project-<%= project.id %>">
  <h1 class="project-title"><%= project.title %></h1>
  <span class="close-project">
    <%= link_to "x", project, method: :delete,
                            data: { confirm: "You sure?" } %>
  </span>
</li>